<div class="center div-text">
  <label class="text-titulo">Terminou de ler seu Livro? </label>
</div>
<div class="center">
  <label class="text-sub-titulo">Registre sua opinião!</label>
</div>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [editable]="false" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Informe seu usuário</ng-template>
      <mat-form-field>
      <input matInput placeholder="Usuário" [(ngModel)]="usuario.nome" (keydown)="limpaUsuario()" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button (click)="pesquisaUsuario()" >Validar usuário</button>
        <button mat-button *ngIf="validaUsuario()" (click)="stepper.next();" >Próximo</button>
        <!-- matStepperNext -->
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="false" [stepControl]="secondFormGroup">
    <ng-template *ngIf="!validaUsuario()" matStepLabel>Livro</ng-template>
    <label *ngIf="!validaUsuario()">Deve ser validado o usuário</label>
    <form [formGroup]="secondFormGroup" *ngIf="validaUsuario()">
      <ng-template  matStepLabel>Livro</ng-template>
      <div class="row">
        <div class="col s3">
            <mz-select-container>
              <select mz-select id="options-select" [label]="'Livro'" [placeholder]="'Selecione um Livro'">
                  <option *ngFor="let livro of livros" [value]="livro.id">{{livro.nome}}</option>
              </select>
            </mz-select-container>
        </div>
        <div class="col s3">
            <mz-select-container>
              <select mz-select id="options-select" [label]="'Estado de Conservação'" [placeholder]="'Selecione o Estado'">
                  <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
              </select>
            </mz-select-container>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
            <ng-template  matStepLabel>Nota</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nota" formControlName="nota" required>
            </mat-form-field>
        </div>
        <div class="col s3">
            <ng-template matStepLabel>Observação</ng-template>
            <mat-form-field>
              <input matInput placeholder="Observação" formControlName="obs" required>
            </mat-form-field>
        </div>
      </div>

      <div>
        <br>
        <br>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Enviar avaliação</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Concluído</ng-template>
    Avaliação concluída. 

    Deseja efetuar uma nova avaliação?
    <div>
      <button mat-button (click)="stepper.reset()">Sim</button>
    </div>
  </mat-step>
</mat-vertical-stepper>