<div class="row">
  <div class="col m4 s12">
    <mz-card class="white darken-1 grey-text text-darken-4 center-align" [hoverable]="false">
      <mz-card-title>
        Gerenciar dados pessoais
      </mz-card-title>
      <mz-card-content>

        <mz-spinner *ngIf="loadingPerfil; else userInfo" [color]="'blue'" [size]="'big'">
        </mz-spinner>

        <ng-template #userInfo>

          <p>
            <b>{{ usuarioLogado?.usuario?.usuario }}</b>
          </p>

        </ng-template>
      </mz-card-content>
    </mz-card>
  </div>
</div>